.mainpage {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
    background: linear-gradient( 90deg, #1f005c, #350168, #4e0274, #6a0380, #8b058b, #970780, #a30971, #af0b5f);
}

.back>img {
    position: absolute;
    height: 100%;
    width: 1366px;
    background-size: cover;
}

.logo {
    position: absolute;
    left: 15px;
    top: 10px;
    width: 50px;
    border-radius: 40%;
    border: 3px solid rgb(8, 128, 48);
    visibility: visible;
}

.main-head1 {
    position: absolute;
    left: 120px;
    top: 250px;
    color: #a3cd39;
    text-shadow: 1px 1px 2px red, 0 0 25px #ffeb28, 0 0 5px #fc6453;
    font-style: italic;
    font-size: 55px;
}

.main-p1 {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 4%;
    color: crimson;
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 2px 5px #66809c;
}

.main-b {
    color: greenyellow;
    text-shadow: 2px 2px 5px;
}

.menu {
    position: absolute;
    top: 15px;
    left: 10%;
    width: 35%;
    height: 8%;
    border-radius: 20px;
}

.menu .menu-ul .menu-li .menu-a {
    font-size: 20px;
    text-decoration: none;
    padding: 10px 15px;
    float: left;
    text-align: center;
    color: greenyellow;
    display: block;
    cursor: pointer;
    font-weight: bold;
}

.menu .menu-ul .menu-li .menu-a:hover {
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
    border-bottom-color: #9dd3a8;
    background: #f29c08;
    background: linear-gradient(20deg, #f29c08 0%, #ff0d45 67%);
    background: -webkit-linear-gradient(20deg, #f29c08 0%, #ff0d45 67%);
    background: -moz-linear-gradient(20deg, #f29c08 0%, #ff0d45 67%);
    background: -o-linear-gradient(20deg, #f29c08 0%, #ff0d45 67%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='F29C08', endColorstr='#FF0D45', GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    /* text-shadow: 0 0 4px #fff, 0 0 4px #fff, 0 0 8px #fff, 0 0 10px #fff, 0 0 12px #0fa, 0 0 16px #0fa, 0 0 20px #0fa, 0 0 22px #0fa, 0 0 24px #0fa; */
}

.social_media .main-soc {
    position: absolute;
    top: 620px;
    left: 1150px;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

.social_media .main-soc .msoc-li {
    list-style-type: none;
}

.social_media .main-soc .msoc-li .msoc-a {
    position: relative;
    width: 50px;
    height: 40px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 60%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: 0.5s;
    font-size: 25px;
}


/* .social_media .main-soc .msoc-li>i {
    font-size: 50px;
} */

.social_media .main-soc .msoc-li .msoc-a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 3);
    text-decoration: none;
    transform: translate(0, -20px);
}

.main-soc .msoc-li:nth-child(1) .msoc-a:hover .fab {
    color: #3b5998;
}

.main-soc .msoc-li:nth-child(2) .msoc-a:hover .fab {
    color: #00acee;
}

.main-soc .msoc-li:nth-child(3) .msoc-a:hover .fab {
    color: #db4a39;
}

.main-soc .msoc-li:nth-child(4) .msoc-a:hover .fab {
    color: #0e76a8;
}

.main-soc .msoc-li:nth-child(5) .msoc-a:hover .fab {
    color: #de249f;
}

.main-soc .msoc-li .msoc-a.fab {
    width: 50%;
    height: 50%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(6px - 12px);
    font-size: 24px;
    color: #262626;
    transition: 0.5s;
}

.button1 .mbtn1 {
    margin: 0 5px;
    padding: 6px 25px;
    color: #5c196b;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    border: none;
    overflow: hidden;
    transition: 0.5s;
    background-color: #cdbb79;
    background: #fa2b0b;
    background: linear-gradient(0deg, #fa2b0b 0%, #fff11a 100%);
    background: -webkit-linear-gradient(0deg, #fa2b0b 0%, #fff11a 100%);
    background: -moz-linear-gradient(0deg, #fa2b0b 0%, #fff11a 100%);
    background: -o-linear-gradient(0deg, #fa2b0b 0%, #fff11a 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='FA2B0B', endColorstr='#FFF11A', GradientType=1);
    cursor: pointer;
    border-radius: 20px;
}

.button1 .mbtn1:hover {
    background-color: #93a6b1 !important;
    color: #111;
    box-shadow: 0 0 50px #ffb4a2;
    transition-delay: all 0.2s;
    border-radius: 4px;
    background: #15c90f;
    background: linear-gradient(0deg, #15c90f 0%, #fff11a 100%);
    background: -webkit-linear-gradient(0deg, #15c90f 0%, #fff11a 100%);
    background: -moz-linear-gradient(0deg, #15c90f 0%, #fff11a 100%);
    background: -o-linear-gradient(0deg, #15c90f 0%, #fff11a 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='15C90F', endColorstr='#FFF11A', GradientType=1);
    box-shadow: 0 0 4px #e5989b, 0 0 4px #e5989b, 0 0 8px #e5989b, 0 0 10px #e5989b, 0 0 12px #ffb4a2, 0 0 14px #ffb4a2, 0 0 16px #ffb4a2, 0 0 18px #ffb4a2, 0 0 20px #ffb4a2;
}

.button1 .mbtn1 {
    position: relative;
    left: 88%;
    bottom: -25px;
}

.container {
    position: absolute;
    top: 62%;
    left: 12%;
    transform: translate(-50%-50%);
}

.container .main-btn1 {
    padding: 10px 20px;
    width: 200px;
    border: none;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    background: #fa2b0b;
    background: linear-gradient(0deg, #fa2b0b 0%, #fff11a 100%);
    background: -webkit-linear-gradient(0deg, #fa2b0b 0%, #fff11a 100%);
    background: -moz-linear-gradient(0deg, #fa2b0b 0%, #fff11a 100%);
    background: -o-linear-gradient(0deg, #fa2b0b 0%, #fff11a 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='FA2B0B', endColorstr='#FFF11A', GradientType=1);
    color: #fafafa;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    transition: 0.4s;
    cursor: pointer;
}

.container .main-btn1:hover {
    border-radius: 4px;
    color: #111;
    transition: all 0.2s;
    background: #15c90f;
    background: linear-gradient(0deg, #15c90f 0%, #fff11a 100%);
    background: -webkit-linear-gradient(0deg, #15c90f 0%, #fff11a 100%);
    background: -moz-linear-gradient(0deg, #15c90f 0%, #fff11a 100%);
    background: -o-linear-gradient(0deg, #15c90f 0%, #fff11a 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='15C90F', endColorstr='#FFF11A', GradientType=1);
    box-shadow: 0 0 4px #e5989b, 0 0 4px #e5989b, 0 0 8px #e5989b, 0 0 10px #e5989b, 0 0 12px #ffb4a2, 0 0 14px #ffb4a2, 0 0 16px #ffb4a2, 0 0 18px #ffb4a2, 0 0 20px #ffb4a2;
}

.search_box {
    position: absolute;
    top: 6.5%;
    left: 75%;
    transform: translate(-50%, -50%);
    background: #ecd6c7;
    height: 50px;
    width: 20%;
    border-radius: 50px;
    padding: 15px;
}

.search_btn {
    color: #e84118;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background: #ecd6c7;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    position: relative;
    left: -10px;
    font-size: 2.5ch;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 10px;
    width: 10;
}