body {
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(90deg, #1f005c, #350168, #4e0274, #6a0380, #8b058b, #970780, #a30971, #af0b5f);
}

.logo {
    position: absolute;
    left: 15px;
    top: 10px;
    width: 50px;
    border-radius: 40%;
    border: 3px solid rgb(8, 128, 48);
    visibility: visible;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.menu {
    position: absolute;
    top: 15px;
    left: 10%;
    width: 35%;
    height: 8%;
    border-radius: 20px;
}

.menu ul a {
    font-size: 20px;
    text-decoration: none;
    padding: 10px 15px;
    float: left;
    text-align: center;
    color: greenyellow;
    display: block;
    cursor: pointer;
    font-weight: bold;
}

.menu>ul>li>a:hover {
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
    border-bottom-color: #9dd3a8;
    background: #F29C08;
    background: linear-gradient(20deg, #F29C08 0%, #FF0D45 67%);
    background: -webkit-linear-gradient(20deg, #F29C08 0%, #FF0D45 67%);
    background: -moz-linear-gradient(20deg, #F29C08 0%, #FF0D45 67%);
    background: -o-linear-gradient(20deg, #F29C08 0%, #FF0D45 67%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='F29C08', endColorstr='#FF0D45', GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    /* text-shadow: 0 0 4px #fff, 0 0 4px #fff, 0 0 8px #fff, 0 0 10px #fff, 0 0 12px #0fa, 0 0 16px #0fa, 0 0 20px #0fa, 0 0 22px #0fa, 0 0 24px #0fa; */
}

body h2 {
    position: absolute;
    font-size: 35px;
    top: 150px;
    left: 50px;
    color: burlywood;
    /* text-shadow: 0 0 2px palevioletred, 0 0 4px palevioletred, 0 0 6px palevioletred, 0 0 8px palevioletred, 0 0 10px paleturquoise, 0 0 12px paleturquoise, 0 0 14px paleturquoise */
}

.container1 {
    /* box-sizing: border-box; */
    position: relative;
    display: block;
    border: 4px solid lightslategray;
    width: 30%;
    border: none;
    height: 50%;
    top: 15em;
    left: 5em;
    overflow: hidden;
}

.box {
    position: relative;
    box-sizing: border-box;
    border: none;
    background: hsla(94, 100%, 70%, 1);
    background: linear-gradient(90deg, hsla(94, 100%, 70%, 1) 0%, hsla(0, 100%, 77%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(94, 100%, 70%, 1) 0%, hsla(0, 100%, 77%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(94, 100%, 70%, 1) 0%, hsla(0, 100%, 77%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#A9FF68", endColorstr="#FF8989", GradientType=1);
    border-radius: 30px 60px;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

.imgBx {
    position: absolute;
    border: 2px solid black;
    /* background-color: #FF0D45; */
    width: 80%;
    height: 70%;
    /* padding: 5px 5px; */
    top: 8%;
    left: 10%;
    border-radius: 15px;
    align-items: center;
    overflow: hidden;
    /* background: #12c2e9;
    background: -webkit-linear-gradient(to top, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(to top, #f64f59, #c471ed, #12c2e9); */
}

.container1 .box .button a {
    position: relative;
    padding: 10px 15px;
    color: white;
    background-color: black;
    border: 3px solid hotpink;
    top: 450px;
    left: 130px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    transform: translateY(-100px);
    /* display: none; */
}

.container1 .box .imgBx progress {
    width: 90%;
    height: 10%;
    position: absolute;
    left: 10px;
}

.container1 .box .imgBx img {
    position: absolute;
    border: 2px double darkorange;
    width: 90%;
    height: 50%;
    top: 30px;
    left: 20px;
    transition: 0.5s;
}

.container1 .box .imgBx .head1 {
    position: relative;
    display: block;
    font-size: 25px;
    top: 170px;
    left: 40px;
    transition: 0.5s;
    cursor: pointer;
}

.container1:hover {
    overflow: visible;
}

.container1:hover .button a {
    transition: 0.5s;
    box-shadow: 4px 2px 2px #FF0D45;
    top: 360px;
}

.container1 .box .imgBx:hover {
    border-radius: 10px 40px;
    transition: 0.5s;
}

.container1:hover .head1 {
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.container1 .box .imgBx:hover .button a {
    transform: translateY(0px);
    opacity: 1;
    transition: 0.5s ease;
    box-shadow: 5px 4px 2px #FF0D45;
    top: 500px;
}

footer {
    position: relative;
    background: #1f212b;
    width: 100%;
    height: 60%;
    box-sizing: border-box;
    bottom: 0px;
    margin: 0;
    padding: 0;
    top: 100%;
}

.main-content {
    display: flex;
    /* position: absolute; */
}

.main-content .left-box {
    border: none;
}

.main-content .left-box h2 {
    font-size: 30px;
    line-height: 1.0;
    color: #005792;
    left: 100px;
    top: 30px;
    position: relative;
}

.main-content .left-box ul li a {
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 2.0;
    padding-top: 10px;
    margin-left: 10px;
    color: #e4d1d3;
    text-align: center;
    left: 100px;
    top: 50px;
    cursor: pointer;
}

.main-content .left-box>ul>li>a:hover {
    color: white;
    border-bottom: #F29C08;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
}

.main-content .center-box {
    position: absolute;
    display: block;
    border: none;
    width: 300px;
    height: 300px;
    top: 30px;
    left: 35%;
}

.main-content .center-box h2 {
    position: absolute;
    font-size: 30px;
    left: 110px;
    top: 10px;
    color: #005792;
    /* line-height: 2.0; */
}

.main-content .center-box .phone {
    position: relative;
    display: flex;
    font-size: 20px;
    top: 60px;
    left: 10px;
    color: #e4d1d3;
    cursor: pointer;
}

.main-content .center-box .mail {
    position: relative;
    display: flex;
    font-size: 20px;
    left: 10px;
    top: 130px;
    color: #e4d1d3;
    cursor: pointer;
}

.main-content .center-box .location {
    position: relative;
    display: flex;
    font-size: 20px;
    left: 10px;
    top: 200px;
    color: #e4d1d3;
}

.main-content .center-box .button {
    border: 3px solid #FF5F5F;
    position: relative;
    /* display: flex; */
    font-size: 20px;
    color: white;
    border-radius: 15px;
    padding: 10px 15px;
    text-align: center;
    top: 200px;
    left: 85px;
}

.main-content .center-box .mail,
.main-content .center-box .phone,
.main-content .center-box .location {
    font-size: 25px;
    text-indent: 20px;
}

.main-content .center-box .button:hover {
    box-shadow: 4px 3px 8px 4px #e79686;
}

.main-content .right-box {
    position: relative;
    display: flex;
    width: 300px;
    height: 350px;
    top: 25px;
    left: 60%;
}

.main-content .right-box h2 {
    position: absolute;
    display: flex;
    font-size: 30px;
    top: 30px;
    left: 30px;
    color: #005792;
}

.main-content .right-box .social_media ul {
    position: relative;
    top: 150px;
    left: 120px;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

.main-content .right-box .social_media ul li {
    list-style-type: none;
}

.main-content .right-box .social_media ul li a {
    position: relative;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
    background-color: #1f005c;
}

.social_media ul li a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 3);
    text-decoration: none;
    transform: translate(0, -20px);
}

ul li:nth-child(1) a:hover .fab {
    color: #3b5998;
}

ul li:nth-child(2) a:hover .fab {
    color: #00acee;
}

ul li:nth-child(3) a:hover .fab {
    color: #db4a39
}

ul li:nth-child(4) a:hover .fab {
    color: #0e76a8;
}

ul li:nth-child(5) a:hover .fab {
    color: #de249f;
}

.main-content .right-box .social_media ul li a.fab {
    width: 70%;
    height: 70%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(6px - 12px);
    font-size: 50px;
    color: #262626;
    transition: .5s;
}

.main-content .right-box .social_media ul li i {
    font-size: 25px;
}