body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url(./ini.jpg);
    background-size: cover;
}

.back {
    position: absolute;
    left: 250px;
    width: 1000px;
    background-size: cover;
}

.logo {
    position: absolute;
    left: 15px;
    top: 10px;
    width: 50px;
    border-radius: 40%;
    border: 3px solid rgb(8, 128, 48);
    visibility: visible;
}

h3 {
    position: absolute;
    left: 350px;
    top: 200px;
    color: rgb(47, 12, 243);
    text-shadow: 1px 1px 2px palevioletred, 0 0 25px #db4a39, 0 0 5px #9e8516;
    font-style: italic;
    font-size: 55px;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

p {
    position: absolute;
    font-size: 20px;
    top: 43%;
    left: 20%;
    color: #20366b;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 5px #7B3B8C;
}

b {
    color: #ff502f;
}

.menu {
    position: absolute;
    top: 15px;
    left: 10%;
    width: 30%;
    height: 8%;
    border-radius: 20px;
}

.menu ul a {
    font-size: 20px;
    text-decoration: none;
    padding: 10px 15px;
    float: left;
    text-align: center;
    color: greenyellow;
    display: block;
    cursor: pointer;
}

.menu>ul>li>a:hover {
    padding-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
    border-bottom-color: #66809c;
    background: #1522FF;
    background: linear-gradient(0deg, #1522FF 27%, #F7FF05 63%);
    background: -webkit-linear-gradient(0deg, #1522FF 27%, #F7FF05 63%);
    background: -moz-linear-gradient(0deg, #1522FF 27%, #F7FF05 63%);
    background: -o-linear-gradient(0deg, #1522FF 27%, #F7FF05 63%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='1522FF', endColorstr='#F7FF05', GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-shadow: 0 0 4px #fff, 0 0 4px #fff, 0 0 8px #fff, 0 0 10px #fff, 0 0 12px #0fa, 0 0 16px #0fa, 0 0 20px #0fa, 0 0 22px #0fa, 0 0 24px #0fa; */
}


/*  
 .sidebar {
     position: fixed;
     top: 40px;
     left: -250px;
     width: 250px;
     height: 100%;
     background-color: rgba(253, 249, 249, 0);
     transition: all .5s ease;
 }
 
 .sidebar header {
     font-size: 35px;
     color: white;
     text-align: left;
     line-height: 70px;
     background-color: rgba(253, 249, 249, 0);
     padding-left: 20px;
     user-select: none;
 }
 
 .sidebar ul a {
     display: block;
     height: 100%;
     width: 100%;
     line-height: 65px;
     text-align: left;
     font-size: 20px;
     color: white;
     padding-left: 40px;
     box-sizing: border-box;
     border-top: 1px solid rgba(255, 255, 255, .1);
     transition: .4s;
 }
 
 ul li a:hover {
     padding-left: 40px;
 }
 
 .sidebar ul a i {
     margin-right: 16px;
     font-size: 20px;
 }
 
 #check {
     display: none;
 }
 
 label #btn {
     position: absolute;
     cursor: pointer;
     background-color: #e76892d7;
     border-radius: 3px;
 }
 
 label #cancel {
     position: absolute;
     cursor: pointer;
     background-color: #e76892d7;
     border-radius: 3px;
 }
 
 label #btn {
     left: 15px;
     top: 15px;
     font-size: 20px;
     color: rgb(23, 235, 250);
     padding: 6px 12px;
     transition: all .5s;
 }
 
 label #cancel {
     z-index: 1111;
     left: -180px;
     top: 55px;
     font-size: 30px;
     color: white;
     padding: 4px 9px;
     transition: all .5s ease;
 }
 
 #check:checked~.sidebar {
     left: 0px;
 }
 
 #check:checked~label #btn {
     left: 250px;
     opacity: 0;
     pointer-events: none;
 }
 
 #check:checked~label #cancel {
     left: 180px;
 } */

.social_media ul {
    position: absolute;
    top: 620px;
    left: 1200px;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

.social_media ul li {
    list-style-type: none;
}

.social_media ul li a {
    position: relative;
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
}

.social_media ul li a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 3);
    text-decoration: none;
    transform: translate(0, -20px);
}

ul li:nth-child(1) a:hover .fab {
    color: #3b5998;
}

ul li:nth-child(2) a:hover .fab {
    color: #00acee;
}

ul li:nth-child(3) a:hover .fab {
    color: #db4a39
}

ul li:nth-child(4) a:hover .fab {
    color: #0e76a8;
}

ul li:nth-child(5) a:hover .fab {
    color: #de249f;
}

ul li a.fab {
    width: 50%;
    height: 50%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 25%;
    line-height: calc(6px - 12px);
    font-size: 24px;
    color: #262626;
    transition: .5s;
}

.search_box {
    position: relative;
    top: 16px;
    left: 760px;
    /* transform: translate(-40%, -40%);*/
    width: 400px;
    height: 35px;
    overflow: hidden;
    transition: all 1s;
    border: 1px solid;
    border-color: white;
}

.search_box input {
    position: absolute;
    width: 80%;
    height: 100%;
    outline: none;
    border: none;
    background: #252525;
    color: white;
    font-size: 1.5rem;
    padding: 0 10px;
    opacity: 0;
    transition: all 1s;
}

.search_box:hover {
    width: 400px;
}

.search_box:hover input {
    opacity: 1;
}

.search_box .icon {
    position: absolute;
    right: 0;
    width: 80px;
    height: 100%;
    background: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    border: 1px solid;
    border-color: white;
    transition: all .4s;
}

.icon {
    text-align: center;
    font-size: 3ch;
}

.search_box .icon:hover {
    background: #8256c9;
}

.button1 button {
    margin: 0 5px;
    padding: 6px 25px;
    color: #21ebff;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 20px;
    border: none;
    overflow: hidden;
    transition: 0.5s;
}

.button1 button:hover {
    background-color: #21ebff !important;
    color: #111;
    box-shadow: 0 0 50px #21ebff;
    transition-delay: 0.5s;
}

.button1 button::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 5px;
    height: 5px;
    border-top: 2px solid #21ebff;
    border-left: 2px solid #21ebff;
    transition: 0.5s;
}

.button1 button:hover:before {
    width: 100%;
    height: 100%;
}

.button1 button::after {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 5px;
    height: 5px;
    border-bottom: 2px solid #21ebff;
    border-right: 2px solid #21ebff;
    transition: 0.5s;
}

.button1 button:hover:after {
    width: 100%;
    height: 100%;
}

.button1 button {
    position: relative;
    left: 88%;
    bottom: 19px;
}

.container {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%-50%);
}

.container button {
    padding: 10px 20px;
    width: 200px;
    border: none;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    background: #060A68;
    background: linear-gradient(0deg, #060A68 29%, #2ED4FF 70%);
    background: -webkit-linear-gradient(0deg, #060A68 29%, #2ED4FF 70%);
    background: -moz-linear-gradient(0deg, #060A68 29%, #2ED4FF 70%);
    background: -o-linear-gradient(0deg, #060A68 29%, #2ED4FF 70%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='060A68', endColorstr='#2ED4FF', GradientType=1);
    color: #fafafa;
    box-shadow: 0 6px 8px rgba(0, 0, 0, .1);
    border-radius: 10px;
    transition: .4s;
    cursor: pointer;
}

.container button:hover {
    border-radius: 4px;
    background: #35E5DF;
    background: linear-gradient(0deg, #35E5DF 36%, #2B34BA 78%);
    background: -webkit-linear-gradient(0deg, #35E5DF 36%, #2B34BA 78%);
    background: -moz-linear-gradient(0deg, #35E5DF 36%, #2B34BA 78%);
    background: -o-linear-gradient(0deg, #35E5DF 36%, #2B34BA 78%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='35E5DF', endColorstr='#2B34BA', GradientType=1);
}

.card {
    position: relative;
    top: 200px;
    left: 1000px;
    transform: translate(-50%, -50%);
    width: 320px;
    background: #131419;
    box-sizing: border-box;
    transition: .5;
}

.card :hover {
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.imgBx {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.imgBx img {
    width: 100%;
    transition: 5s;
    transform-origin: top right;
}

.card:hover .imgBx img {
    transform: scale(1.3);
}

.card:hover button {
    visibility: visible;
}

.card button {
    position: relative;
    left: 80px;
    top: 10px;
    padding: 5px 10px;
    width: 150px;
    border: none;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    background: #060A68;
    background: linear-gradient(0deg, #060A68 29%, #2ED4FF 70%);
    background: -webkit-linear-gradient(0deg, #060A68 29%, #2ED4FF 70%);
    background: -moz-linear-gradient(0deg, #060A68 29%, #2ED4FF 70%);
    background: -o-linear-gradient(0deg, #060A68 29%, #2ED4FF 70%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='060A68', endColorstr='#2ED4FF', GradientType=1);
    color: #fafafa;
    box-shadow: 0 6px 8px rgba(0, 0, 0, .1);
    border-radius: 10px;
    transition: .4s;
    cursor: pointer;
    visibility: hidden;
}

.content:hover {
    height: 100%;
    overflow: visible;
}

.card button:hover {
    border-radius: 4px;
    background: #35E5DF;
    background: linear-gradient(0deg, #35E5DF 36%, #2B34BA 78%);
    background: -webkit-linear-gradient(0deg, #35E5DF 36%, #2B34BA 78%);
    background: -moz-linear-gradient(0deg, #35E5DF 36%, #2B34BA 78%);
    background: -o-linear-gradient(0deg, #35E5DF 36%, #2B34BA 78%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='35E5DF', endColorstr='#2B34BA', GradientType=1);
}

.content {
    background: #131419;
    padding: 30px 20px;
    text-align: center;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -3px -3px -7px rgba(255, 255, 255, 0.05);
    height: 0px;
    overflow: hidden;
}

.content h3 {
    position: relative;
    left: 0px;
    top: -15px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: rgb(192, 192, 169);
}

.content:hover h3 {
    top: 10px;
}

.content p {
    position: relative;
    left: 10px;
    top: 0px;
    margin: 10px 0 0;
    padding: 0;
    color: rgb(136, 118, 118);
}