body {
    background-color: #33FA40;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 75%;
    background-color: #042331;
    transition: all .5s ease;
}

.sidebar header {
    font-size: 35px;
    color: white;
    text-align: left;
    line-height: 70px;
    background-color: #063146;
    padding-left: 20px;
    user-select: none;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    text-align: left;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .4s;
}

ul li:hover a {
    padding-left: 50px;
}

.sidebar ul a i {
    margin-right: 16px;
    font-size: 20px;
}

#check {
    display: none;
}

label #btn {
    position: absolute;
    cursor: pointer;
    background-color: #e76892d7;
    border-radius: 30px;
}

label #cancel {
    position: absolute;
    cursor: pointer;
    background-color: #e76892d7;
    border-radius: 30px;
}

label #btn {
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: crimson;
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel {
    z-index: 1111;
    left: -180px;
    top: 17px;
    font-size: 30px;
    color: white;
    padding: 4px 9px;
    transition: all .5s ease;
}

#check:checked~.sidebar {
    left: 0px;
}

#check:checked~label #btn {
    left: 195px;
    opacity: 0;
    pointer-events: none;
}

#check:checked~label #cancel {
    left: 180px;
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

ul li {
    list-style-type: none;
}

ul li a {
    position: relative;
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
}

ul li a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 3);
    text-decoration: none;
}

ul li:nth-child(1) a:hover .fab {
    color: #3b5998;
}

ul li a.fab {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(6px - 12px);
    font-size: 24px;
    color: #262626;
    transition: .5s;
}