.csspg {
    font-family: "Times New Roman", Times, serif !important;
    margin: 0;
    padding: 0;
}

.cslogo {
    position: fixed;
    left: 10px;
    top: 10px;
    width: 50px;
    border-radius: 40%;
    border: 3px solid rgb(8, 128, 48);
    visibility: visible;
}

.cslogo1 {
    position: fixed;
    font-size: 25px;
    top: 10px;
    left: 75px;
    background: #05f1e6;
    background: -webkit-linear-gradient(to right, #05f1e6 0%, hotpink 100%);
    background: -moz-linear-gradient(to right, #05f1e6 0%, hotpink 100%);
    background: linear-gradient(to right, #05f1e6 0%, hotpink 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Times New Roman", Times, serif;
}

.csmenu {
    position: relative;
    top: 10px;
    left: 20.5%;
    width: 79.5%;
    height: 60px;
    /* border-radius: 20px; */
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.75);
}

.csmenu .csul .csli {
    position: relative;
    width: fit-content;
    float: left;
    /* background-color: #f29c08; */
    left: 25%;
}

.csmenu .csul .csli {
    list-style: none;
}

.csmenu .csul .cssa {
    font-size: 25px;
    text-decoration: none;
    padding: 10px 15px;
    float: left;
    text-align: center;
    color: greenyellow;
    display: block;
    cursor: pointer;
    font-weight: bold;
}

.csmenu .csul .csc {
    width: fit-content;
    /* border-bottom: 2px solid; */
    /* border-bottom-color: aqua; */
    background: #ff0000;
    background: -webkit-linear-gradient( to left, #ff0000 0%, #ffff00 50%, #ff0000 100%);
    background: -moz-linear-gradient( to left, #ff0000 0%, #ffff00 50%, #ff0000 100%);
    background: linear-gradient(to left, #ff0000 0%, #ffff00 50%, #ff0000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    text-shadow: 0 5px 10px coral;
}

.csmenu .csul .csli .csh:hover,
.csmenu .csul .csli .cscc:hover,
.csmenu .csul .csli .csa:hover {
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
    border-bottom-color: #9dd3a8;
    background: #ff0000;
    background: -webkit-linear-gradient( to left, #ff0000 0%, #ffff00 50%, #ff0000 100%);
    background: -moz-linear-gradient( to left, #ff0000 0%, #ffff00 50%, #ff0000 100%);
    background: linear-gradient(to left, #ff0000 0%, #ffff00 50%, #ff0000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    /* text-shadow: 0 0 4px #fff, 0 0 4px #fff, 0 0 8px #fff, 0 0 10px #fff, 0 0 12px #0fa, 0 0 16px #0fa, 0 0 20px #0fa, 0 0 22px #0fa, 0 0 24px #0fa; */
}


/* .csmenu .csul .csli .csh:hover .csmenu .csul .csc,
.csmenu .csul .csli .cscc:hover .csmenu .csul .csc, */


/* .cscontainer .cscontent .cscona .a4 {
    color: darkred !important;
    font-weight: bold;
} */

.cscontainer {
    position: fixed;
    top: 70px;
    width: 20%;
    height: 100%;
    background-color: aquamarine;
    margin-left: 5px;
}

.cscontainer .csh3 {
    font-size: 30px;
    width: 100%;
    position: absolute;
    top: -10px;
    left: 0px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.cscontainer .cscontent {
    position: relative;
    width: 80%;
    top: 50px;
    text-align: left;
    align-items: center;
}

.cscontainer .cscontent .cs-p .cscona {
    position: relative;
    line-height: 2.8;
    font-size: 25px;
    /* padding: 5px 20px; */
    top: 0px;
    left: 10px;
    cursor: pointer;
    color: #1f212b;
    /* background-color: #f29c08; */
}

.cscontainer .cscontent .cscona {
    text-decoration: none;
}

.cscontainer .cscontent .cs-p {
    list-style: none;
}

.cscontainer .cscontent .cs-p:hover {
    color: #1f005c;
    font-weight: bold;
}

.cscontent .cs-p .cscona.active {
    color: red;
    font-weight: bold;
    text-shadow: 2px 0 5px green;
}