body {
    font-family: "Times New Roman", Times, serif;
    background: linear-gradient( 90deg, #1f005c, #350168, #4e0274, #6a0380, #8b058b, #970780, #a30971, #af0b5f);
}


/* .logo {
    position: absolute;
    left: 15px;
    top: 10px;
    width: 50px;
    border-radius: 40%;
    border: 3px solid rgb(8, 128, 48);
    visibility: visible;
} */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.en-menu {
    position: absolute;
    top: 10px;
    left: 35%;
    width: 35%;
    height: 8%;
    border-radius: 20px;
}

.en-menu .en-ul .en-a {
    font-size: 20px;
    text-decoration: none;
    padding: 10px 15px;
    float: left;
    text-align: center;
    color: greenyellow;
    display: block;
    cursor: pointer;
    font-weight: bold;
}

.menu .en-ul .en-li .en-a:hover {
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
    border-bottom-color: #9dd3a8;
    background: #f29c08;
    background: linear-gradient(20deg, #f29c08 0%, #ff0d45 67%);
    background: -webkit-linear-gradient(20deg, #f29c08 0%, #ff0d45 67%);
    background: -moz-linear-gradient(20deg, #f29c08 0%, #ff0d45 67%);
    background: -o-linear-gradient(20deg, #f29c08 0%, #ff0d45 67%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='F29C08', endColorstr='#FF0D45', GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    /* text-shadow: 0 0 4px #fff, 0 0 4px #fff, 0 0 8px #fff, 0 0 10px #fff, 0 0 12px #0fa, 0 0 16px #0fa, 0 0 20px #0fa, 0 0 22px #0fa, 0 0 24px #0fa; */
}

.en-container {
    position: absolute;
    width: 30%;
    height: 100%;
    display: flex;
    background: hsla(136, 82%, 72%, 1);
    background: linear-gradient( 180deg, hsla(136, 82%, 72%, 1) 23%, hsla(205, 84%, 36%, 1) 100%);
    background: -moz-linear-gradient( 180deg, hsla(136, 82%, 72%, 1) 23%, hsla(205, 84%, 36%, 1) 100%);
    background: -webkit-linear-gradient( 180deg, hsla(136, 82%, 72%, 1) 23%, hsla(205, 84%, 36%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#7ef29d", endColorstr="#0f68a9", GradientType=1);
}

.en-container .enco-h1 {
    position: absolute;
    top: 50px;
    left: 150px;
    font-size: 30px;
    text-align: center;
    text-shadow: 5px 2px #ff0d45, 5px 2px hotpink;
}

.en-container .enco-img1 {
    border: none;
    border-radius: 20px;
    position: relative;
    display: flex;
    width: 370px;
    height: 40%;
    top: 150px;
    left: 15px;
}

.en-container .enco-a .enco-btn {
    position: absolute;
    padding: 10px 15px;
    font-size: 20px;
    top: 500px;
    left: 130px;
    border: 3px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 2px solid;
    outline-color: #040000;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    cursor: pointer;
    background-color: #040000;
    border-color: #f6d04d;
    color: white;
}

.en-container .enco-a .enco-btn:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px #f46a56, 0 0 20px #f1404b;
    outline-color: rgba(9, 236, 141, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #f43e71;
}

.en-container1 {
    position: absolute;
    width: 70%;
    height: 120%;
    top: 20%;
    left: 30%;
    /* background-color: dimgrey; */
}

.en-container1 .en-right1 .enrt-h3 {
    position: absolute;
    word-spacing: 1.5px;
    color: #a30971;
    font-size: 30px;
    padding: 0px 10px;
    background: #ffff00;
    background: -webkit-radial-gradient( circle farthest-corner at center center, #ffff00 0%, #05c1ff 51%, #ffff00 100%);
    background: -moz-radial-gradient( circle farthest-corner at center center, #ffff00 0%, #05c1ff 51%, #ffff00 100%);
    background: radial-gradient( circle farthest-corner at center center, #ffff00 0%, #05c1ff 51%, #ffff00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    font-style: oblique;
}

.en-container1 .en-right1 .enrt-ul .enrt-li {
    top: 50px;
    position: relative;
    font-size: 23px;
    margin-left: 70px;
    line-height: 35px;
    list-style-type: disc;
    color: #dcddd8;
    font-style: italic;
}

.en-container1 .en-right2 .enrt2-h3 {
    position: absolute;
    word-spacing: 1.5px;
    color: #a30971;
    font-size: 30px;
    padding: 0px 10px;
    top: 225px;
    background: #ffff00;
    background: -webkit-radial-gradient( circle farthest-corner at center center, #ffff00 0%, #05c1ff 51%, #ffff00 100%);
    background: -moz-radial-gradient( circle farthest-corner at center center, #ffff00 0%, #05c1ff 51%, #ffff00 100%);
    background: radial-gradient( circle farthest-corner at center center, #ffff00 0%, #05c1ff 51%, #ffff00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    font-style: oblique;
}

.en-container1 .en-right2 .enrt2-ul .enrt2-li {
    top: 140px;
    position: relative;
    font-size: 23px;
    margin-left: 70px;
    line-height: 35px;
    list-style-type: disc;
    color: #dcddd8;
    font-style: italic;
}

.en-container1 .en-right3 .enrt3-h3 {
    position: absolute;
    word-spacing: 1.5px;
    color: #a30971;
    font-size: 30px;
    padding: 0px 10px;
    top: 420px;
    background: #ffff00;
    background: -webkit-radial-gradient( circle farthest-corner at center center, #ffff00 0%, #05c1ff 51%, #ffff00 100%);
    background: -moz-radial-gradient( circle farthest-corner at center center, #ffff00 0%, #05c1ff 51%, #ffff00 100%);
    background: radial-gradient( circle farthest-corner at center center, #ffff00 0%, #05c1ff 51%, #ffff00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    font-style: oblique;
}

.en-container1 .en-right3 .enrt3-ul .enrt3-li {
    top: 235px;
    position: relative;
    margin-left: 70px;
    line-height: 35px;
    list-style-type: disc;
    font-size: 23px;
    color: #dcddd8;
    font-style: italic;
}

.en-container1 .en-right4 .enrt4-h3 {
    position: absolute;
    word-spacing: 1.5px;
    color: #a30971;
    font-size: 30px;
    padding: 0px 10px;
    top: 650px;
    background: #ffff00;
    background: -webkit-radial-gradient( circle farthest-corner at center center, #ffff00 0%, #05c1ff 51%, #ffff00 100%);
    background: -moz-radial-gradient( circle farthest-corner at center center, #ffff00 0%, #05c1ff 51%, #ffff00 100%);
    background: radial-gradient( circle farthest-corner at center center, #ffff00 0%, #05c1ff 51%, #ffff00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    font-style: oblique;
}

.en-container1 .en-right4 .enrt4-ul .enrt4-li {
    top: 320px;
    position: relative;
    margin-left: 70px;
    line-height: 35px;
    list-style-type: disc;
    color: #b8d00a;
    font-size: 23px;
    color: #dcddd8;
    font-style: italic;
}

.en-container1 .en-right5 .enrt5-h3 {
    position: absolute;
    word-spacing: 1.5px;
    color: #a30971;
    font-size: 30px;
    padding: 0px 10px;
    top: 765px;
    background: #ffff00;
    background: -webkit-radial-gradient( circle farthest-corner at center center, #ffff00 0%, #05c1ff 51%, #ffff00 100%);
    background: -moz-radial-gradient( circle farthest-corner at center center, #ffff00 0%, #05c1ff 51%, #ffff00 100%);
    background: radial-gradient( circle farthest-corner at center center, #ffff00 0%, #05c1ff 51%, #ffff00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    font-style: oblique;
}

.en-container1 .en-right5 .enrt5-ul .enrt5-li {
    top: 405px;
    font-size: 23px;
    position: relative;
    margin-left: 70px;
    line-height: 35px;
    list-style-type: disc;
    color: #dcddd8;
    font-style: italic;
}

.en-footer {
    position: relative;
    background: #1f212b;
    width: 100%;
    height: 60%;
    box-sizing: border-box;
    bottom: 0px;
    margin: 0;
    padding: 0;
    top: 200%;
}

.en-main-content {
    display: flex;
    /* position: absolute; */
}

.en-main-content .en-left-box {
    border: none;
}

.en-main-content .en-left-box .enlt-h2 {
    font-size: 30px;
    line-height: 1;
    color: #005792;
    left: 100px;
    top: 30px;
    position: relative;
}

.en-main-content .en-left-box .enlt-ul .enlt-li .enlt-a {
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 2;
    padding-top: 10px;
    margin-left: 10px;
    color: #e4d1d3;
    text-align: center;
    left: 100px;
    top: 50px;
    cursor: pointer;
}

.en-main-content .en-left-box .enlt-ul .enlt-li .enlt-a :hover {
    color: white;
    border-bottom: #f29c08;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
}

.en-main-content .en-center-box {
    position: absolute;
    display: block;
    border: none;
    width: 300px;
    height: 300px;
    top: 30px;
    left: 35%;
}

.en-main-content .en-center-box .ence-h2 {
    position: absolute;
    font-size: 30px;
    left: 110px;
    top: 10px;
    color: #005792;
    /* line-height: 2.0; */
}

.en-main-content .en-center-box .ence-phone {
    position: relative;
    display: flex;
    font-size: 20px;
    top: 60px;
    left: 10px;
    color: #e4d1d3;
    cursor: pointer;
}

.en-main-content .en-center-box .ence-mail {
    position: relative;
    display: flex;
    font-size: 20px;
    left: 10px;
    top: 130px;
    color: #e4d1d3;
    cursor: pointer;
}

.en-main-content .en-center-box .ence-location {
    position: relative;
    display: flex;
    font-size: 20px;
    left: 10px;
    top: 200px;
    color: #e4d1d3;
}

.en-main-content .en-center-box .ence-button {
    border: 3px solid #ff5f5f;
    position: relative;
    /* display: flex; */
    font-size: 20px;
    color: white;
    border-radius: 15px;
    padding: 10px 15px;
    text-align: center;
    top: 200px;
    left: 85px;
}

.en-main-content .en-center-box .ence-mail,
.en-main-content .en-center-box .ence-phone,
.en-main-content .en-center-box .ence-location {
    font-size: 25px;
    text-indent: 20px;
}

.en-main-content .en-center-box .ence-button:hover {
    box-shadow: 4px 3px 8px 4px #e79686;
}

.en-main-content .en-right-box {
    position: relative;
    display: flex;
    width: 300px;
    height: 350px;
    top: 25px;
    left: 60%;
}

.en-main-content .en-right-box .enrtf-h2 {
    position: absolute;
    display: flex;
    font-size: 30px;
    top: 30px;
    left: 30px;
    color: #005792;
}

.en-main-content .en-right-box .enrtf-social_media .enrtf-ul {
    position: relative;
    top: 150px;
    left: 120px;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

.en-main-content .en-right-box .enrtf-social_media .enrtf-ul .enrtf-li {
    list-style-type: none;
}

.en-main-content .en-right-box .enrtf-social_media .enrtf-ul .enrtf-li .enrtf-a {
    position: relative;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: 0.5s;
    background-color: #1f005c;
}

.enrtf-social_media .enrtf-ul .enrtf-li .enrtf-a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 3);
    text-decoration: none;
    transform: translate(0, -20px);
}

.enrtf-ul .enrtf-li:nth-child(1) .enrtf-a:hover .fab {
    color: #3b5998;
}

.enrtf-ul .enrtf-li:nth-child(2) .enrtf-a:hover .fab {
    color: #00acee;
}

.enrtf-ul .enrtf-li:nth-child(3) .enrtf-a:hover .fab {
    color: #db4a39;
}

.enrtf-ul .enrtf-li:nth-child(4) .enrtf-a:hover .fab {
    color: #0e76a8;
}

.enrtf-ul .enrtf-li:nth-child(5) .enrtf-a:hover .fab {
    color: #de249f;
}

.en-main-content .en-right-box .enrtf-social_media .enrtf-ul .enrtf-li .enrtf-a.fab {
    width: 70%;
    height: 70%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(6px - 12px);
    font-size: 50px;
    color: #262626;
    transition: 0.5s;
}

.en-main-content .en-right-box .enrtf-social_media .enrtf-ul .enrtf-li>i {
    font-size: 25px;
}