* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(90deg, #1f005c, #350168, #4e0274, #6a0380, #8b058b, #970780, #a30971, #af0b5f);
}

.cologo {
    position: absolute;
    left: 15px;
    top: 10px;
    width: 50px;
    border-radius: 40%;
    border: 3px solid rgb(8, 128, 48);
    visibility: visible;
}

.comenu {
    position: absolute;
    top: 15px;
    left: 10%;
    width: 35%;
    height: 8%;
    border-radius: 20px;
}

.comenu .co-ul .co-a {
    font-size: 20px;
    text-decoration: none;
    padding: 10px 15px;
    float: left;
    text-align: center;
    color: greenyellow;
    display: block;
    cursor: pointer;
    font-weight: bold;
}

.comenu .co-ul .co-li .co-a :hover {
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
    border-bottom-color: #9dd3a8;
    background: #F29C08;
    background: linear-gradient(20deg, #F29C08 0%, #FF0D45 67%);
    background: -webkit-linear-gradient(20deg, #F29C08 0%, #FF0D45 67%);
    background: -moz-linear-gradient(20deg, #F29C08 0%, #FF0D45 67%);
    background: -o-linear-gradient(20deg, #F29C08 0%, #FF0D45 67%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='F29C08', endColorstr='#FF0D45', GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}

.co-container {
    display: flex;
    width: 80%;
    justify-content: space-around;
    top: 130px;
    background: #9dd3a8;
    position: absolute;
    align-items: center;
    left: 150px;
    height: 70%;
}

.co-card {
    width: 310px;
    height: 360px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
}

.co-card:hover {
    transform: translateY(20px);
}

.co-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 176, 155, 0.5), rgba(150, 201, 61, 1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.co-card:hover::before {
    opacity: 1;
}

.co-card .co-img1 {
    width: 110%;
    height: 120%;
    /* object-fit: cover; */
    position: relative;
    top: 10%;
    left: -14px;
}

.co-card .co-info {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.co-card:hover .co-info {
    opacity: 1;
    transform: translateY(0px);
}

.co-card .co-info .co-h {
    margin: 0;
    left: -280px;
    bottom: 13em;
    position: absolute;
}

.co-card .co-info .co-p {
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 5px;
    left: -310px;
    bottom: 3.5em;
    position: absolute;
}

.co-container1 {
    /* box-sizing: border-box; */
    position: relative;
    display: block;
    border: 4px solid lightslategray;
    width: 30%;
    border: none;
    height: 50%;
    top: 45em;
    left: 25em;
    overflow: hidden;
}

.co-box {
    position: relative;
    box-sizing: border-box;
    border: none;
    background: hsla(94, 100%, 70%, 1);
    background: linear-gradient(90deg, hsla(94, 100%, 70%, 1) 0%, hsla(0, 100%, 77%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(94, 100%, 70%, 1) 0%, hsla(0, 100%, 77%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(94, 100%, 70%, 1) 0%, hsla(0, 100%, 77%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#A9FF68", endColorstr="#FF8989", GradientType=1);
    border-radius: 30px 60px;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

.co-imgBx {
    position: absolute;
    border: 2px solid black;
    /* background-color: #FF0D45; */
    width: 80%;
    height: 70%;
    /* padding: 5px 5px; */
    top: 8%;
    left: 10%;
    border-radius: 15px 40px;
    align-items: center;
    overflow: hidden;
    background: #12c2e9;
    background: -webkit-linear-gradient(to top, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(to top, #f64f59, #c471ed, #12c2e9);
}

.co-container1 .co-box .co-button .co-enrol {
    position: relative;
    padding: 10px 15px;
    color: white;
    background-color: black;
    border: 3px solid hotpink;
    top: 500px;
    left: 130px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    transform: translateY(-100px);
    /* display: none; */
}

.co-container1 .co-box .co-imgBx .co-img2 {
    position: absolute;
    border: 2px double darkorange;
    width: 90%;
    height: 50%;
    top: 30px;
    left: 20px;
    transition: 0.5s;
}

.co-container1 .co-box .co-imgBx .co-head1 {
    position: relative;
    display: block;
    font-size: 20px;
    top: 170px;
    left: 70px;
    transition: 0.5s;
    cursor: pointer;
}

.co-container1:hover {
    overflow: visible;
}

.co-container1:hover .co-button .co-enrol {
    transition: 0.5s;
    box-shadow: 5px 4px 2px #FF0D45;
    top: 400px;
}

.co-container1 .co-box .co-imgBx:hover {
    border-radius: 10px 40px;
    transition: 0.5s;
}

.co-container1 .co-box .co-imgBx:hover .co-head1 {
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.co-container1 .co-box .co-imgBx:hover .co-button .co-enrol {
    transform: translateY(0px);
    opacity: 1;
    transition: 0.5s ease;
    box-shadow: 5px 4px 2px #FF0D45;
    top: 500px;
}

.co-footer {
    position: relative;
    background: #1f212b;
    width: 100%;
    height: 60%;
    box-sizing: border-box;
    bottom: 0px;
    margin: 0;
    padding: 0;
    top: 320%;
}

.co-main-content {
    display: flex;
    /* position: absolute; */
}

.co-main-content .co-left-box {
    border: none;
}

.co-main-content .co-left-box .com-h1 {
    font-size: 30px;
    line-height: 1.0;
    color: #005792;
    left: 100px;
    top: 30px;
    position: relative;
}

.co-main-content .co-left-box .com-ul .com-li .com-a {
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 2.0;
    padding-top: 10px;
    margin-left: 10px;
    color: #e4d1d3;
    text-align: center;
    left: 100px;
    top: 50px;
    cursor: pointer;
}

.co-main-content .co-left-box .com-ul .com-li .com-a:hover {
    color: white;
    border-bottom: #F29C08;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
}

.co-main-content .co-center-box {
    position: absolute;
    display: block;
    border: none;
    width: 300px;
    height: 300px;
    top: 30px;
    left: 35%;
}

.co-main-content .co-center-box .coce-h1 {
    position: absolute;
    font-size: 30px;
    left: 110px;
    top: 10px;
    color: #005792;
    /* line-height: 2.0; */
}

.co-main-content .co-center-box .co-phone {
    position: relative;
    display: flex;
    font-size: 20px;
    top: 60px;
    left: 10px;
    color: #e4d1d3;
    cursor: pointer;
}

.co-main-content .co-center-box .co-mail {
    position: relative;
    display: flex;
    font-size: 20px;
    left: 10px;
    top: 130px;
    color: #e4d1d3;
    cursor: pointer;
}

.co-main-content .co-center-box .co-location {
    position: relative;
    display: flex;
    font-size: 20px;
    left: 10px;
    top: 200px;
    color: #e4d1d3;
}

.co-main-content .co-center-box .co-button1 {
    border: 3px solid #FF5F5F;
    position: relative;
    /* display: flex; */
    font-size: 20px;
    color: white;
    border-radius: 15px;
    padding: 10px 15px;
    text-align: center;
    top: 200px;
    left: 85px;
}

.co-main-content .co-center-box .co-mail,
.co-main-content .co-center-box .co-phone,
.co-main-content .co-center-box .co-location {
    font-size: 25px;
    text-indent: 20px;
}

.co-main-content .co-center-box .co-button1:hover {
    box-shadow: 4px 3px 8px 4px #e79686;
}

.co-main-content .co-right-box {
    position: relative;
    display: flex;
    width: 300px;
    height: 350px;
    top: 25px;
    left: 60%;
}

.co-main-content .co-right-box .cort-h1 {
    position: absolute;
    display: flex;
    font-size: 30px;
    top: 30px;
    left: 30px;
    color: #005792;
}

.co-main-content .co-right-box .co-social_media .cort-ul {
    position: relative;
    top: 150px;
    left: 120px;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

.co-main-content .co-right-box .co-social_media .cort-ul .cort-li {
    list-style-type: none;
}

.co-main-content .co-right-box .co-social_media .cort-ul .cort-li .cort-a {
    position: relative;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
    background-color: #1f005c;
    font-size: 25px;
}

.co-social_media .cort-ul .cort-li .cort-a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 3);
    text-decoration: none;
    transform: translate(0, -20px);
}

.cort-ul .cort-li:nth-child(1) .cort-a:hover .fab {
    color: #3b5998;
}

.cort-ul .cort-li:nth-child(2) .cort-a:hover .fab {
    color: #00acee;
}

.cort-ul .cort-li:nth-child(3) .cort-a:hover .fab {
    color: #db4a39
}

.cort-ul .cort-li:nth-child(4) .cort-a:hover .fab {
    color: #0e76a8;
}

.cort-ul .cort-li:nth-child(5) .cort-a:hover .fab {
    color: #de249f;
}

.co-main-content .co-right-box .co-social_media .cort-ul .cort-li .cort-a.fab {
    width: 70%;
    height: 70%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(6px - 12px);
    font-size: 50px;
    color: #262626;
    transition: .5s;
}

.co-main-content .co-right-box .co-social_media .cort-ul .cort-li>i {
    font-size: 25px;
}