.parapg {
    font-family: "Times New Roman", Times, serif;
    background: linear-gradient( 90deg, #1f005c, #350168, #4e0274, #6a0380, #8b058b, #970780, #a30971, #af0b5f);
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    height: 2675px;
    position: relative;
    top: -20px;
}

.paralogo {
    position: fixed;
    left: 15px;
    top: 10px;
    width: 50px;
    border-radius: 40%;
    border: 3px solid rgb(8, 128, 48);
    visibility: visible;
}

.paralogo1 {
    position: fixed;
    font-size: 25px;
    top: -5px;
    left: 90px;
    background: #05f1e6;
    background: -webkit-linear-gradient(to right, #05f1e6 0%, hotpink 100%);
    background: -moz-linear-gradient(to right, #05f1e6 0%, hotpink 100%);
    background: linear-gradient(to right, #05f1e6 0%, hotpink 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.paramenu {
    position: relative;
    top: 10px;
    left: 30%;
    width: 45%;
    height: 8%;
    border-radius: 20px;
}

.paramenu .paramenuul .paramenua {
    font-size: 25px;
    text-decoration: none;
    padding: 10px 15px;
    float: left;
    text-align: center;
    color: greenyellow;
    display: block;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.paramenu>.paramenuul>.paramenuli {
    list-style: none;
}

.paramenu>.paramenuul>.paramenuli>.paramenua:hover {
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
    border-bottom-color: #9dd3a8;
    background: #f29c08;
    background: linear-gradient(20deg, #f29c08 0%, #ff0d45 67%);
    background: -webkit-linear-gradient(20deg, #f29c08 0%, #ff0d45 67%);
    background: -moz-linear-gradient(20deg, #f29c08 0%, #ff0d45 67%);
    background: -o-linear-gradient(20deg, #f29c08 0%, #ff0d45 67%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='F29C08', endColorstr='#FF0D45', GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    /* text-shadow: 0 0 4px #fff, 0 0 4px #fff, 0 0 8px #fff, 0 0 10px #fff, 0 0 12px #0fa, 0 0 16px #0fa, 0 0 20px #0fa, 0 0 22px #0fa, 0 0 24px #0fa; */
}

.paracontainer .paracontent .paraconta .a6 {
    color: darkred !important;
    font-weight: bold;
}

.paracontainer {
    position: fixed;
    top: 70px;
    width: 20%;
    height: 100%;
    background-color: aquamarine;
    margin-left: 5px;
}

.paracontainer .parah3 {
    font-size: 28px;
    position: absolute;
    top: -15px;
    /* padding: 10px 10px; */
    left: 30px;
}

.paracontainer .paracontent .paraconta .paracontp {
    position: relative;
    line-height: 2;
    font-size: 20px;
    padding: 5px 20px;
    top: 50px;
    left: 20px;
    cursor: pointer;
    color: #1f212b;
}

.paracontainer .paracontent .paraconta {
    text-decoration: none;
}

.paracontainer .paracontent .paracontp:hover {
    color: #1f005c;
    font-weight: bold;
}

.parapara1 .parahead1 {
    position: absolute;
    top: 150px;
    left: 45%;
    font-size: 30px;
}

.parapara1 .parap1 {
    position: absolute;
    top: 250px;
    left: 30%;
    font-size: 22px;
}

.parapara1 .parax1 {
    position: absolute;
    top: 300px;
    left: 30%;
    font-size: 22px;
    font-family: "Times New Roman", Times, serif;
    white-space: nowrap;
}

.parapara1 .parap2 {
    position: absolute;
    font-size: 22px;
    top: 350px;
    left: 30%;
    line-height: 2.5;
}

.parapara1 .parax2 {
    position: absolute;
    top: 505px;
    left: 30%;
    line-height: 35px;
    font-size: 22px;
    font-family: "Times New Roman", Times, serif;
}

.parapara1 .parahead2 {
    position: absolute;
    top: 625px;
    left: 50%;
    font-size: 30px;
}

.parapara1 .parap3 {
    position: absolute;
    font-size: 22px;
    top: 700px;
    left: 30%;
    line-height: 2.5;
}

.parapara1 .parahead3 {
    position: absolute;
    top: 1000px;
    left: 45%;
    font-size: 30px;
}

.parapara1 .parax3 {
    position: absolute;
    top: 1070px;
    left: 30%;
    font-size: 22px;
    font-family: "Times New Roman", Times, serif;
    line-height: 2;
}

.parapara1 .parax4 {
    position: absolute;
    top: 1150px;
    left: 30%;
    font-size: 22px;
    font-family: "Times New Roman", Times, serif;
    line-height: 2;
}

.parapara1 .parahead4 {
    position: absolute;
    top: 1500px;
    left: 45%;
    font-size: 30px;
}

.parapara1 .parax5 {
    position: absolute;
    top: 1550px;
    left: 30%;
    font-size: 22px;
    font-family: "Times New Roman", Times, serif;
    line-height: 2;
}

.parapara1 .parax6 {
    position: absolute;
    top: 1600px;
    left: 30%;
    font-size: 22px;
    font-family: "Times New Roman", Times, serif;
    line-height: 2;
}

.parapara1 .parax7 {
    position: absolute;
    top: 1700px;
    left: 25%;
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
    line-height: 2;
}

.parabtn .paranext {
    position: relative;
    border: 2px solid;
    border-radius: 15px;
    border-color: black;
    background: #060b07;
    background: linear-gradient(0deg, #060b07 0%, #8cfff8 100%);
    background: -webkit-linear-gradient(0deg, #060b07 0%, #8cfff8 100%);
    background: -moz-linear-gradient(0deg, #060b07 0%, #8cfff8 100%);
    background: -o-linear-gradient(0deg, #060b07 0%, #8cfff8 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='060B07', endColorstr='#8CFFF8', GradientType=1);
    color: wheat;
    font-size: 30px;
    padding: 5px 30px;
    top: 1800px;
    left: 1150px;
    text-decoration: none;
}

.parabtn .paranext:hover {
    text-shadow: 1px 1px 1px red, 3px 3px 5px blue;
}

.parabtn .paraprevious {
    position: relative;
    border: 2px solid;
    border-radius: 15px;
    border-color: black;
    background: #060b07;
    background: linear-gradient(0deg, #060b07 0%, #8cfff8 100%);
    background: -webkit-linear-gradient(0deg, #060b07 0%, #8cfff8 100%);
    background: -moz-linear-gradient(0deg, #060b07 0%, #8cfff8 100%);
    background: -o-linear-gradient(0deg, #060b07 0%, #8cfff8 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='060B07', endColorstr='#8CFFF8', GradientType=1);
    color: wheat;
    font-size: 30px;
    padding: 5px 20px;
    top: 1800px;
    left: 200px;
    text-decoration: none;
}

.parabtn .paraprevious:hover {
    text-shadow: 1px 1px 1px red, 3px 3px 5px blue;
}

.parafooter {
    position: relative;
    background: #1f212b;
    width: 79.6%;
    height: 400px;
    box-sizing: border-box;
    bottom: 0px;
    margin: 0;
    padding: 0;
    top: 2050px;
    left: 275px;
    overflow: hidden;
}

.paramain-content {
    display: flex;
    /* position: absolute; */
}

.paramain-content .paraleft-box {
    border: none;
}

.paramain-content .paraleft-box .paraquick {
    font-size: 30px;
    line-height: 1;
    color: #005792;
    left: 50px;
    top: 30px;
    position: relative;
}

.paramain-content .paraleft-box .paraleftul {
    list-style: none;
}

.paramain-content .paraleft-box .paraleftul .paraleftli .paralefta {
    position: relative;
    display: block;
    font-size: 25px;
    line-height: 2;
    padding-top: 10px;
    margin-left: 10px;
    color: #e4d1d3;
    text-align: center;
    left: 30px;
    top: 30px;
    cursor: pointer;
    text-decoration: none;
    font-style: oblique;
}

.paramain-content .paraleft-box>.paraleftul>.paraleftli>.paralefta:hover {
    color: white;
    border-bottom: #f29c08;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
}

.paramain-content .paracenter-box {
    position: absolute;
    display: block;
    border: none;
    width: 300px;
    height: 300px;
    top: 30px;
    left: 35%;
}

.paramain-content .paracenter-box .paraaddress {
    position: absolute;
    font-size: 30px;
    left: 45px;
    top: 4.5px;
    color: #005792;
    /* line-height: 2.0; */
}

.paramain-content .paracenter-box .paraphone {
    position: relative;
    display: flex;
    font-size: 20px;
    top: 60px;
    left: -30px;
    color: #e4d1d3;
    cursor: pointer;
}

.paramain-content .paracenter-box .paramail {
    position: relative;
    display: flex;
    font-size: 20px;
    left: -30px;
    top: 130px;
    color: #e4d1d3;
    cursor: pointer;
}

.paramain-content .paracenter-box .paralocation {
    position: relative;
    display: flex;
    font-size: 20px;
    left: -30px;
    top: 200px;
    color: #e4d1d3;
}

.paramain-content .paracenter-box .parabutton {
    border: 3px solid #ff5f5f;
    position: relative;
    /* display: flex; */
    font-size: 23px;
    color: white;
    border-radius: 15px;
    padding: 10px 15px;
    text-align: center;
    top: 200px;
    left: 60px;
    text-decoration: none;
    font-style: oblique;
}

.paramain-content .paracenter-box .paramail,
.paramain-content .paracenter-box .paraphone,
.paramain-content .paracenter-box .paralocation {
    font-size: 25px;
    text-indent: 20px;
}

.paramain-content .paracenter-box .parabutton:hover {
    box-shadow: 4px 3px 8px 4px #e79686;
}

.paramain-content .pararight-box {
    position: relative;
    display: flex;
    width: 300px;
    height: 350px;
    top: 25px;
    left: 55%;
}

.paramain-content .pararight-box .paraquick {
    position: absolute;
    display: flex;
    font-size: 30px;
    top: 10px;
    left: -25px;
    color: #005792;
}

.paramain-content .pararight-box .parasocial_media .parasocul {
    position: relative;
    top: 170px;
    left: 80px;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

.paramain-content .pararight-box .parasocial_media .parasocul .parasocli {
    list-style-type: none;
}

.paramain-content .pararight-box .parasocial_media .parasocul .parasocli .parasoca {
    position: relative;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: 0.5s;
}

.parasocial_media .parasocul .parasocli .parasoca:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 3);
    text-decoration: none;
    transform: translate(0, -20px);
}

.parasocul .parasocli:nth-child(1) .parasoca:hover {
    color: #3b5998;
}

.parasocul .parasocli:nth-child(2) .parasoca:hover {
    color: #00acee;
}

.parasocul .parasocli:nth-child(3) .parasoca:hover {
    color: #db4a39;
}

.parasocul .parasocli:nth-child(4) .parasoca:hover {
    color: #0e76a8;
}

.parasocul .parasocli:nth-child(5) .parasoca:hover {
    color: #de249f;
}

.paramain-content .pararight-box .parasocial_media .parasocul .parasocli .parasoca.parasoci {
    width: 70%;
    height: 70%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(6px - 12px);
    font-size: 50px;
    transition: 0.5s;
}

.paramain-content .pararight-box .parasocial_media .parasocul .parasocli .parasoca {
    font-size: 25px;
}