<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRO WORLD</title>
    <link rel="stylesheet" href="./heading.css ">
    <script src="https://kit.fontawesome.com/487b41a8eb.js" crossorigin="anonymous"></script>

</head>

<body>
    <h3 class="hlogo1">PRO WORLD</h3>
    <img class="hlogo" src="./mainlogoroh.jpg" alt="main ">
    <div class="hmenu">
        <ul class="headul">

            <li class="headli"><a class="heada" href="./main.html">Home</a></li>
            <li class="headli"><a class="heada" href="./course.html">Courses</a></li>
            <li class="headli"><a class="heada" href="./contact.html">Contact us</a></li>
            <li class="headli"><a class="heada" href="./about.html">About</a></li>

        </ul>
    </div>

    <div class="headcontainer">
        <h3 class="headh3">HTML Tutorial</h3>
        <div class="hcontent">
            <a class="hcona" href="#">
                <p class="headp">HTML Introduction</p>
            </a>
            <a class="hcona" href="#">
                <p class="headp">HTML Tags</p>
            </a>
            <a class="hcona" href="#">
                <p class="headp">HTML Elements</p>
            </a>
            <a class="hcona" href="#">
                <p class="headp">HTML Attributes</p>
            </a>
            <a class="hcona" href="#">
                <p class="headp">HTML Headings</p>
            </a>
            <a class="hcona" href="#">
                <p class="headp">HTML Paragraphs</p>
            </a>
            <a class="hcona" href="https://forms.gle/p4M4YjYaYyFYtWDz9" target="_blank">
                <p class="headp">HTML Quiz</p>
            </a>
        </div>
    </div>
    <div class="heading1">
        <h3 class="hhead1">HTML Headings</h3>
        <p class="headp1">HTML headings are titles or subtitles that you want to display on a webpage.<br> Example:</p>
    </div>
    <div class="heading2">
        <h1>heading 1</h1> <br>
        <h2>heading 2</h2><br>
        <h3>heading 3</h3><br>
        <h4>heading 4</h4><br>
        <h5>heading 5</h5><br>
        <h6>heading 6</h6><br>
    </div>
    <div class="heading3">
        <xmp class="hx1">HTML headings are defined with the
            <h1> to
                <h6> tags.</xmp>

        <xmp class="hx2">
            <h1> defines the most important heading.</xmp>
        <xmp class="hx3">
            <h6> defines the least important heading.</xmp>

        <p class="head-p2">Example:</p>
        <xmp class="hx4">
            <h1>Heading 1</h1>
            <h2>Heading 2</h2>
            <h3>Heading 3</h3>
            <h4>Heading 4</h4>
            <h5>Heading 5</h5>
            <h6>Heading 6</h6>
        </xmp>
        <h3 class="hhead2"> Headings Are Important</h3>
        <p class="head-p3">Search engines use the headings to index the structure and content of your web pages. <br> Users often skim a page by its headings. It is important to use headings to show the document structure. <br>


        </p>
        <h3 class="hhead3">Bigger Headings</h3>
        <p class="hp4">Each HTML heading has a default size. However, you can specify the size for any <br> heading with the style attribute, using the CSS font-size property:
        </p>
    </div>
    <div class="headbtn">
        <a href="./paragraph.html" class="headnext">Next</a>
        <a href="./attributes.html" class="headprevious">
             Previous</a>
    </div>




    <div class="head-footer">
        <div class="hmain-content ">
            <div class="hleft-box ">
                <h2 class="hmainh2">Quick Links</h2>
                <ul class="hmain-ul">

                    <li class="hmain-li"><a class="hmain-a" href="./course.html">Courses</a></li>
                    <li class="hmain-li"><a class="hmain-a" href="# ">Certificates</a></li>
                    <li class="hmain-li"><a class="hmain-a" href="./contact.html">Help</a></li>
                    <li class="hmain-li"><a class="hmain-a" href="./main.html">Home</a></li>
                </ul>
            </div>
            <div class="hcenter-box ">
                <h2 class="hce-h2">Address</h2>
                <div class="hce-location ">
                    <i class="fas fa-map-marker-alt "></i>
                    <i class="hce-text ">Coimbatore,Tamilnadu</i>
                </div>
                <div class="hce-mail ">
                    <i class="fas fa-envelope "></i>
                    <i class="hce-text ">talktorohini21@gmail.com</i>
                </div>
                <div class="hce-phone ">
                    <i class="fas fa-phone-alt "></i>
                    <i class="hce-text ">+91 7339481237</i>
                </div>

                <a class="headbutton " href="https://www.google.co.in/maps/place/PSG+College+of+Arts+%26+Science/@11.0332141,77.0316629,17z/data=!3m1!4b1!4m5!3m4!1s0x3ba858526b5c0591:0x6c452206816788d4!8m2!3d11.0332088!4d77.0338516?hl=en&authuser=0 ">Locate Us</a>
            </div>
            <div class="hright-box ">
                <h2 class="hrt-h2">Connect with us</h2>
                <div class="hsocial_media ">
                    <ul class="hrt-ul">
                        <li class="hrt-li"><a class="hrt-a" href="# "><i class="fab fa-facebook " aria-hidden="true "></i></a></li>
                        <li class="hrt-li"><a class="hrt-a" href="# "><i class="fab fa-twitter " aria-hidden="true "></i></a></li>
                        <li class="hrt-li"><a class="hrt-a" href="# "><i class="fab fa-google-plus-g " aria-hidden="true "></i></a></li>
                        <li class="hrt-li"><a class="hrt-a" href="# "><i class="fab fa-linkedin " aria-hidden="true "></i></a></li>
                        <li class="hrt-li"><a class="hrt-a" href="# "><i class="fab fa-instagram " aria-hidden="true "></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>