.selectorpg {
    font-family: "Times New Roman", Times, serif;
    background-color: #044c65;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -20px;
    height: 2591px;
    width: 100%;
}

.selec1 {
    position: relative;
    top: -300px;
    left: 300px;
    /* background-color: cornsilk; */
    width: 70%;
    height: 50%;
}

.selh1 {
    position: relative;
    width: fit-content;
    font-size: 35px;
    left: 40%;
}

.selh2 {
    position: relative;
    width: fit-content;
    font-size: 25px;
    left: 15%;
    top: 20px;
}

.selp1 {
    position: relative;
    width: fit-content;
    font-size: 22px;
    line-height: 1.7;
    left: 30px;
    top: 50px;
}

.selh3 {
    position: relative;
    width: fit-content;
    font-size: 30px;
    left: 0;
    top: 60px;
}

.selp2 {
    position: relative;
    width: fit-content;
    font-size: 22px;
    /* line-height: 1.7; */
    left: 30px;
    top: 65px;
}

.selh4 {
    position: relative;
    width: fit-content;
    font-size: 30px;
    left: 0;
    top: 75px;
}

.selp3 {
    position: relative;
    width: fit-content;
    font-size: 22px;
    line-height: 1.7;
    left: 30px;
    top: 75px;
}

.selh5 {
    position: relative;
    width: fit-content;
    font-size: 30px;
    left: 0;
    top: 80px;
}

.selp4 {
    position: relative;
    width: fit-content;
    font-size: 22px;
    line-height: 1.7;
    left: 30px;
    top: 85px;
}

.selp5 {
    position: relative;
    width: fit-content;
    font-size: 22px;
    line-height: 1.7;
    left: 30px;
    top: 80px;
}

.selh6 {
    position: relative;
    width: fit-content;
    font-size: 30px;
    left: 0;
    top: 85px;
}

.selp6 {
    position: relative;
    width: fit-content;
    font-size: 22px;
    line-height: 1.7;
    left: 30px;
    top: 83px;
}

.cselec-btn .cselec-next {
    position: relative;
    border: 2px solid;
    border-radius: 15px;
    border-color: black;
    background: #060b07;
    background: linear-gradient(0deg, #060b07 0%, #8cfff8 100%);
    background: -webkit-linear-gradient(0deg, #060b07 0%, #8cfff8 100%);
    background: -moz-linear-gradient(0deg, #060b07 0%, #8cfff8 100%);
    background: -o-linear-gradient(0deg, #060b07 0%, #8cfff8 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='060B07', endColorstr='#8CFFF8', GradientType=1);
    color: wheat;
    font-size: 30px;
    padding: 5px 30px;
    top: -100px;
    left: 80%;
    text-decoration: none;
}

.cselec-btn .cselec-next:hover {
    text-shadow: 1px 1px 1px red, 3px 3px 5px blue;
}

.cselec-btn .cselec-previous {
    text-decoration: none;
    position: relative;
    border: 2px solid;
    border-radius: 15px;
    border-color: black;
    background: #060b07;
    background: linear-gradient(0deg, #060b07 0%, #8cfff8 100%);
    background: -webkit-linear-gradient(0deg, #060b07 0%, #8cfff8 100%);
    background: -moz-linear-gradient(0deg, #060b07 0%, #8cfff8 100%);
    background: -o-linear-gradient(0deg, #060b07 0%, #8cfff8 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='060B07', endColorstr='#8CFFF8', GradientType=1);
    color: wheat;
    font-size: 30px;
    padding: 5px 20px;
    top: -100px;
    left: 15%;
}

.cselec-btn .cselec-previous:hover {
    text-shadow: 1px 1px 1px red, 3px 3px 5px blue;
}