body {
    font-family: "Times New Roman", Times, serif;
    background: linear-gradient( 90deg, #1f005c, #350168, #4e0274, #6a0380, #8b058b, #970780, #a30971, #af0b5f);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.abo-logo {
    position: absolute;
    left: 15px;
    top: 10px;
    width: 50px;
    border-radius: 40%;
    border: 3px solid rgb(8, 128, 48);
    visibility: visible;
}

.abo-menu {
    position: absolute;
    top: 15px;
    left: 10%;
    width: 35%;
    height: 8%;
    border-radius: 20px;
}

.abo-menu .abtm-ul .abtm-a {
    font-size: 20px;
    text-decoration: none;
    padding: 10px 15px;
    float: left;
    text-align: center;
    color: greenyellow;
    display: block;
    cursor: pointer;
    font-weight: bold;
}

.abo-menu .abtm-ul .abtm-li .abtm-a:hover {
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
    border-bottom-color: #9dd3a8;
    background: #f29c08;
    background: linear-gradient(20deg, #f29c08 0%, #ff0d45 67%);
    background: -webkit-linear-gradient(20deg, #f29c08 0%, #ff0d45 67%);
    background: -moz-linear-gradient(20deg, #f29c08 0%, #ff0d45 67%);
    background: -o-linear-gradient(20deg, #f29c08 0%, #ff0d45 67%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='F29C08', endColorstr='#FF0D45', GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    /* text-shadow: 0 0 4px #fff, 0 0 4px #fff, 0 0 8px #fff, 0 0 10px #fff, 0 0 12px #0fa, 0 0 16px #0fa, 0 0 20px #0fa, 0 0 22px #0fa, 0 0 24px #0fa; */
}

.about .abt-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30%;
    flex-wrap: wrap;
    justify-content: space-around;
    top: 10%;
    left: 65%;
    /* background: #FF3E0C; */
}

.about {
    position: absolute;
    display: flex;
    align-items: center;
    width: 95%;
    height: 75%;
    margin-left: 35px;
    top: 105%;
    border: none;
    border-radius: 20px;
}

.abt-container {
    position: absolute;
    display: block;
    width: 200px;
    background-color: #f06d06;
    align-items: center;
    border-radius: 15px 50px;
}

.about .abt-container .abt-box {
    position: relative;
    width: 350px;
    height: 400px;
    margin: 20px 0;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 50px;
    background: #bcff45;
    background: linear-gradient(0deg, #bcff45 0%, #f461e0 100%);
    background: -webkit-linear-gradient(0deg, #bcff45 0%, #f461e0 100%);
    background: -moz-linear-gradient(0deg, #bcff45 0%, #f461e0 100%);
    background: -o-linear-gradient(0deg, #bcff45 0%, #f461e0 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='BCFF45', endColorstr='#F461E0', GradientType=1);
}

.about .abt-container .abt-box .abt-imgBx {
    position: relative;
    top: 23%;
    left: 50px;
    width: 70%;
    height: 50%;
    border: 2px solid #a3cd39;
    clip-path: circle(400px at center 100px);
    transition: 0.5s;
    transition-delay: 0.2s;
}

.about .abt-container .abt-box:hover .abt-imgBx {
    clip-path: circle(70px at center 100px);
    transition-delay: 0s;
    top: -15px;
}

.abt-container .abt-box .abt-imgBx .abt-img,
.abt-container .abt-box:hover .abt-imgBx .abt-img {
    position: absolute;
    top: 0;
    left: 0;
    image-resolution: 500px;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.abt-container .abt-box .abt-content {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 55%;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
}

.abt-container .abt-box .abt-content {
    text-decoration: none;
    color: #000;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}

.abt-container .abt-box .abt-content .abt-con-h2,
.abt-container .abt-box .abt-content .abt-con-a,
.abt-container .abt-box .abt-content .abt-con-p {
    opacity: 0;
    transition: 0.2s;
    transform: translateY(20px);
}

.abt-container .abt-box .abt-content .abt-con-a {
    color: #ff0000;
    /* position: absolute; */
    font-size: 15px;
}

.abt-container .abt-box:hover .abt-content {
    background: #1ae6ee;
    background: linear-gradient(0deg, #1ae6ee 14%, #fff944 89%);
    background: -webkit-linear-gradient(0deg, #1ae6ee 14%, #fff944 89%);
    background: -moz-linear-gradient(0deg, #1ae6ee 14%, #fff944 89%);
    background: -o-linear-gradient(0deg, #1ae6ee 14%, #fff944 89%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='1AE6EE', endColorstr='#FFF944', GradientType=1);
    height: 50%;
    transition-delay: 0.5s;
}

.abt-container .abt-box:hover .abt-content .abt-con-h2 {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.5s;
}

.abt-container .abt-box:hover .abt-content .abt-con-p {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.7s;
    margin-top: 15px;
    margin-bottom: 15px;
}

.abt-container .abt-box:hover .abt-content .abt-con-a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.9s;
    font-size: 20px;
}

.about .about1 {
    position: absolute;
    font-size: 30px;
    top: 55px;
    color: #ff3e0c;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    width: fit-content;
    border-bottom-color: #9dd3a8;
    left: 25%;
}

.about .about2 {
    position: absolute;
    display: block;
    font-size: 22px;
    word-spacing: 5px;
    top: 30%;
    left: 10%;
    padding-left: 15px;
    color: rgb(182, 140, 85);
}

.abt-container1 {
    position: absolute;
    box-sizing: border-box;
    width: 95%;
    height: 70%;
    background: #0cff9f;
    background: linear-gradient(36deg, #0cff9f 16%, #fc98ff 75%);
    background: -webkit-linear-gradient(36deg, #0cff9f 16%, #fc98ff 75%);
    background: -moz-linear-gradient(36deg, #0cff9f 16%, #fc98ff 75%);
    background: -o-linear-gradient(36deg, #0cff9f 16%, #fc98ff 75%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='0CFF9F', endColorstr='#FC98FF', GradientType=1);
    display: flex;
    top: 20%;
    margin-left: 40px;
    margin-right: 100px;
    border: none;
    font-family: "Times New Roman", Times, serif sans-serif;
    border-radius: 30px;
}

.abt-container1 .abt-img1 {
    position: absolute;
    display: flex;
    width: 40%;
    height: 90%;
    left: 58%;
    top: 20px;
}

.abt-container1 .abt-cont1-p1 {
    font-size: 30px;
    font-style: oblique;
    border: none;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
    border-bottom-color: navy;
    left: 20%;
    top: 15%;
    position: absolute;
    margin-left: 8px;
    color: #ff3e0c;
    font-weight: bold;
}

.abt-container1 .abt-cont1-head {
    position: absolute;
    font-size: 25px;
    font-style: italic;
    left: 15%;
    top: 38%;
    text-align: center;
    position: absolute;
    margin-left: 8px;
}

.abt-container1 .abt-cont1-p2 {
    position: absolute;
    font-size: 25px;
    font-style: italic;
    left: 10%;
    top: 60%;
    position: absolute;
    margin-left: 5px;
}

.abt-container2 {
    position: absolute;
    box-sizing: border-box;
    width: 95%;
    height: 100%;
    display: flex;
    top: 200%;
    margin-left: 35px;
    border: none;
    border-radius: 30px;
    align-items: center;
}

.abt-container2 .abt-cont2-img2 {
    position: absolute;
    display: flex;
    width: 40%;
    height: 45%;
    top: 30px;
    left: 10px;
    margin-left: 30px;
}

.abt-container2 .abt-cont2-head2 {
    position: absolute;
    display: flex;
    margin-right: 30px;
    top: 50px;
    left: 55%;
    font-style: oblique;
    color: #ff3e0c;
    padding-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
    border-bottom-color: #9dd3a8;
    font-size: 30px;
}

.abt-container2 .abt-cont2-p3 {
    position: absolute;
    display: flex;
    font-size: 22px;
    top: 25%;
    left: 50%;
    color: darksalmon;
    /* margin-right: 30px; */
    /* text-align: center; */
}

.abt-container2 .abt-cont2-head3 {
    position: absolute;
    display: flex;
    margin-right: 30px;
    top: 60%;
    left: 10%;
    font-size: 30px;
    margin-left: 10px;
    padding-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
    border-bottom-color: #9dd3a8;
    color: #ff3e0c;
    font-style: oblique;
}

.abt-container2 .abt-cont2-p4 {
    position: absolute;
    display: flex;
    font-size: 22px;
    top: 75%;
    left: 5%;
    margin-left: 10px;
    color: darksalmon;
}

.abt-container2 .abt-cont2-img3 {
    position: absolute;
    display: flex;
    width: 40%;
    height: 45%;
    top: 55%;
    left: 58%;
}

.abt-footer {
    position: relative;
    background: #1f212b;
    width: 100%;
    height: 60%;
    box-sizing: border-box;
    bottom: 0px;
    margin: 0;
    padding: 0;
    top: 100px;
    top: 320%;
}

.abt-main-content {
    display: flex;
    /* position: absolute; */
}

.abt-main-content .abt-left-box {
    border: none;
}

.abt-main-content .abt-left-box .abtfoo-h2 {
    font-size: 30px;
    line-height: 1;
    color: #005792;
    left: 100px;
    top: 30px;
    position: relative;
}

.abt-main-content .abt-left-box .abtfoo-ul .abtfoo-li .abtfoo-a {
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 2;
    padding-top: 10px;
    margin-left: 10px;
    color: #e4d1d3;
    text-align: center;
    left: 100px;
    top: 50px;
    cursor: pointer;
}

.abt-main-content .abt-left-box .abtfoo-ul .abtfoo-li .abtfoo-a:hover {
    color: white;
    border-bottom: #f29c08;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
}

.abt-main-content .abt-center-box {
    position: absolute;
    display: block;
    border: none;
    width: 300px;
    height: 300px;
    top: 30px;
    left: 35%;
}

.abt-main-content .abt-center-box .abtcen-h2 {
    position: absolute;
    font-size: 30px;
    left: 110px;
    top: 10px;
    color: #005792;
    /* line-height: 2.0; */
}

.abt-main-content .abt-center-box .abtcen-phone {
    position: relative;
    display: flex;
    font-size: 20px;
    top: 60px;
    left: 10px;
    color: #e4d1d3;
    cursor: pointer;
}

.abt-main-content .abt-center-box .abtcen-mail {
    position: relative;
    display: flex;
    font-size: 20px;
    left: 10px;
    top: 130px;
    color: #e4d1d3;
    cursor: pointer;
}

.abt-main-content .abt-center-box .abtcen-location {
    position: relative;
    display: flex;
    font-size: 20px;
    left: 10px;
    top: 200px;
    color: #e4d1d3;
}

.abt-main-content .abt-center-box .abtcen-button {
    border: 3px solid #ff5f5f;
    position: relative;
    /* display: flex; */
    font-size: 20px;
    color: white;
    border-radius: 15px;
    padding: 10px 15px;
    text-align: center;
    top: 200px;
    left: 85px;
}

.abt-main-content .abt-center-box .abtcen-mail,
.abt-main-content .abt-center-box .abtcen-phone,
.abt-main-content .abt-center-box .abtcen-location {
    font-size: 25px;
    text-indent: 20px;
}

.abt-main-content .abt-center-box .abtcen-button:hover {
    box-shadow: 4px 3px 8px 4px #e79686;
}

.abt-main-content .abt-right-box {
    position: relative;
    display: flex;
    width: 300px;
    height: 350px;
    top: 25px;
    left: 60%;
}

.abt-main-content .abt-right-box .abtrt-h2 {
    position: absolute;
    display: flex;
    font-size: 30px;
    top: 30px;
    left: 30px;
    color: #005792;
}

.abt-main-content .abt-right-box .asocial_media .abtrt-ul {
    position: relative;
    top: 150px;
    left: 120px;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

.abt-main-content .abt-right-box .asocial_media .abtrt-ul .abtrt-li {
    list-style-type: none;
}

.abt-main-content .abt-right-box .asocial_media .abtrt-ul .abtrt-li .abtrt-a {
    position: relative;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: 0.5s;
    background-color: #1f005c;
    font-size: 25px;
}

.asocial_media .abtrt-ul .abtrt-li .abtrt-a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 3);
    text-decoration: none;
    transform: translate(0, -20px);
}

.abtrt-ul .abtrt-li:nth-child(1) .abtrt-a:hover .fab {
    color: #3b5998;
}

.abtrt-ul .abtrt-li:nth-child(2) .abtrt-a:hover .fab {
    color: #00acee;
}

.abtrt-ul .abtrt-li:nth-child(3) .abtrt-a:hover .fab {
    color: #db4a39;
}

.abtrt-ul .abtrt-li:nth-child(4) .abtrt-a:hover .fab {
    color: #0e76a8;
}

.abtrt-ul .abtrt-li:nth-child(5) .abtrt-a:hover .fab {
    color: #de249f;
}

.abt-main-content .abt-right-box .asocial_media .abtrt-ul .abtrt-li .abtrt-a.fab {
    width: 70%;
    height: 70%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(6px - 12px);
    font-size: 50px;
    color: #262626;
    transition: 0.5s;
}

.abt-main-content .abt-right-box .asocial_media .abtrt-ul .abtrt-li>i {
    font-size: 40px;
}