<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="contact1.css">
    <title>PRO WORLD</title>
</head>

<body>
    <img class="con-logo" src="./mainlogoroh.jpg" alt="main ">
    <div class="con-menu">
        <ul class="con-ul">

            <li class="con-li"><a class="con-a" href="./main.html">Home</a></li>
            <li class="con-li"><a class="con-a" href="./course.html">Courses</a></li>
            <li class="con-li"><a class="con-a" href="#">Contact us</a></li>
            <li class="con-li"><a class="con-a" href="./about.html">About</a></li>

        </ul>
    </div>
    <div class="con-container">
        <img class="con-img1" src="./contact.png" alt="logo">
        <div class="ctext">Contact Us</div>
        <form class="con-form" action="#">
            <div class="form-row">
                <div class="input-data">
                    <input class="cin" type="text" required>
                    <div class="underline"></div>
                    <label class="clabel"> Name</label>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data">
                    <input class="cin" type="email" required>
                    <div class="underline"></div>
                    <label class="clabel">Email-Address</label>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data">
                    <input class="cin" type="text" required>
                    <div class="underline"></div>
                    <label class="clabel">Phone No</label>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data textarea">
                    <textarea class="ctextarea" cols="30" rows="10" required></textarea>
                    <div class="underline"></div>
                    <label class="clabel">Message</label>
                </div>
            </div>


            <div class="form-row submit-btn">
                <div class="input-data">
                    <div class="inner"></div>
                    <input class="csum" type="submit" value="submit">
                </div>
            </div>
        </form>
    </div>
</body>

</html>