.csintropg {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    background-color: #044c65;
    top: -20px;
    position: relative;
    height: 2620px;
}

.intro1 {
    position: absolute;
    top: 125px;
    width: 70%;
    left: 300px;
    height: fit-content;
    /* text-align: center; */
    /* justify-content: center; */
    /* background-color: #ffe4c4; */
}

.in1h1 {
    position: absolute;
    font-size: 30px;
    left: 35%;
}

.in1h2 {
    position: absolute;
    font-size: 25px;
    left: 25%;
    top: 60px;
}

.in1h3 {
    position: absolute;
    font-size: 25px;
    text-align: left;
    top: 90px;
    word-spacing: 2px;
}

.in1ul .in1li {
    position: relative;
    list-style-type: disc;
    font-size: 22px;
    left: 30px;
    top: 150px;
    line-height: 1.5;
}

.in1h4 {
    position: absolute;
    text-align: left;
    font-size: 25px;
    top: 300px;
    word-spacing: 2px;
}

.in1p1 {
    position: absolute;
    font-size: 22px;
    top: 350px;
    left: 35px;
    line-height: 1.5;
}

.in1h5 {
    position: absolute;
    text-align: left;
    font-size: 25px;
    top: 450px;
}

.in1p2 {
    position: absolute;
    top: 510px;
    font-size: 22px;
    left: 35px;
    line-height: 1.5;
}

.in1p3 {
    position: absolute;
    top: 550px;
    font-size: 22px;
    left: 35px;
    line-height: 1.5;
}

.in1cd1 {
    position: absolute;
    top: 585px;
    font-size: 22px;
    left: 35px;
    line-height: 1.5;
}

.in1cd2 {
    position: absolute;
    top: 680px;
    font-size: 22px;
    left: 35px;
    line-height: 1.5;
}

.in1p4 {
    position: absolute;
    top: 730px;
    font-size: 22px;
    left: 35px;
    line-height: 1.9;
}

.in1p5 {
    position: absolute;
    top: 850px;
    font-size: 22px;
    left: 35px;
    line-height: 1.9;
}

.in1p6 {
    position: absolute;
    top: 890px;
    font-size: 22px;
    left: 35px;
    line-height: 1.9;
}

.in1h6 {
    position: absolute;
    text-align: left;
    font-size: 25px;
    top: 960px;
}

.in1p7 {
    position: absolute;
    top: 1025px;
    font-size: 22px;
    left: 35px;
    line-height: 1.9;
}

.csintro-btn .csintro-next {
    position: relative;
    border: 2px solid;
    border-radius: 15px;
    border-color: black;
    background: #060b07;
    background: linear-gradient(0deg, #060b07 0%, #8cfff8 100%);
    background: -webkit-linear-gradient(0deg, #060b07 0%, #8cfff8 100%);
    background: -moz-linear-gradient(0deg, #060b07 0%, #8cfff8 100%);
    background: -o-linear-gradient(0deg, #060b07 0%, #8cfff8 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='060B07', endColorstr='#8CFFF8', GradientType=1);
    color: wheat;
    font-size: 30px;
    padding: 5px 30px;
    top: 1250px;
    left: 80%;
    text-decoration: none;
}

.csintro-btn .csintro-next:hover {
    text-shadow: 1px 1px 1px red, 3px 3px 5px blue;
}